<douz-section [title]="'With bg Image'"
 divBg="https://source.unsplash.com/user/erondu/1600x900"
 subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam commodi nihil repellendus placeat consequuntur obcaecati numquam incidunt, in eligendi asperiores maxime nostrum qui consequatur unde!">
  <div>
    <lottie-player
    src="https://assets4.lottiefiles.com/datafiles/zc3XRzudyWE36ZBJr7PIkkqq0PFIrIBgp4ojqShI/newAnimation.json"
    background="transparent" speed=".5" loop  autoplay >
    </lottie-player>

  </div>

</douz-section>


<douz-section sectionStyle="'primary-dark'">
  <douz-tileset></douz-tileset>
</douz-section>


