<div class="main-container" [@bgInsertIn]="divBg" @fade [style.background]="divBg !== '' ? 'url(' + divBg + ')': sectionStyle">


  <div [class]="sectionStyle !== '' ? sectionStyle : 'section-container'" fxLayout="column" [fxLayout.gt-sm]="orientation === 'rtl' ? 'row-reverse': 'row'">
    <section class="section is-medium" *ngIf="title !== '' || subtitle !== ''">
      <h1 @insertR [class]="'title ' + textStyle">{{ title }}</h1>
      <h2 @insertRDelayed [class]="'subtitle ' + textStyle">
        {{ subtitle }}
      </h2>
    </section>
     <div @insertL @fade class="sub-container">
       <!--fxFlex.gt-sm="100%" fxFlex="100%"> -->
      <ng-content></ng-content>
    </div>
  </div>

</div>
